.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dataInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dataInfo input {
  width: 20%;
  height: 10%;
}

.dataInfo button {
  width: 20.5%;
  height: 20%;
  font-size: 20px;
  margin: 10px 5px;
}

.userData {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.userData table {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
